.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-bottom: 0.5px solid #bfbfbf;
    padding-left: 40px;
    overflow: hidden;
}

figure{
    cursor: pointer;
    width: 130px;
    height: 50px;
    img{
        width: 100%;
        height: 100%;
    }
}

.menu {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.menu span:hover {
    color: #13436b;
}

.select {
    width: 5%;
    margin-right: 50px;
}

.dropdownMenu {
    position: absolute;
    top: 53px;
    background-color: #fff;
    padding: 15px;
    transition: all 1s;
    box-shadow: 0 0 0 0.3px #6d6d6d;
}

.dropdownMenu div {
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 16px;
}

.dropdownMenu div:hover {
    color: #13436b;
}

.deactive {
    font-size: 20px;
    font-size: 14px;
    cursor: pointer;
    color: #6d6d6d;
    position: relative;
}


.active{
    font-size: 20px;
    font-size: 14px;
    cursor: pointer;
    color: #13436b;
    position: relative;
}

.hamburgerMenu{
    font-size: 25px;
    display: none;
}