.container {
    width: 70%;
    margin: auto;
    margin-top: 80px;

    @media (max-width : 512px) {
        margin-top: 24px;
        width: 95%;
    }
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media (max-width : 512px) {
        flex-direction: column;
    }

    p {
        width: 45%;
        font-size: 13px;

        @media (max-width : 512px) {
            font-size: 11px;
            width: 100%;
            margin-top: 24px;
        }
    }
}

.servicesValue {
    font-size: 32px;
    font-weight: normal;

    @media (max-width : 512px) {
        font-size: 20px;
        width: 100%;
        text-align: center;
    }
}

.element {
    margin-top: 54px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 36px;
    height: 1400px;

    @media (max-width : 512px) {
        height: auto;
    }
}


.col {
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;

    h2 {
        color: #296a9f;
        font-size: 24px;
        font-weight: normal;
        width: 45%;
    }

    @media (max-width : 512px) {
        width: 95%;
        margin: auto;
        margin-bottom: 40px;
    }

    p {
        font-size: 16px;
        width: 45%;
    }
}