// equipment

.equipmentTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;

    @media (max-width : 512px) {
        flex-direction: column;
    }
}

.equipmentMore {
    color: #13436b;
    font-size: 17px;
    cursor: pointer;
    text-decoration: underline;
    @media (max-width : 512px) {
       display: none;
    }
}

.equipMentTitleValue {
    font-size: 32px;
    font-weight: normal;

    @media (max-width : 512px) {
        font-size: 20px;
    }
}

.equipmentMoreResponsive {
    display: none;
    color: #13436b;
    font-size: 17px;
    cursor: pointer;
    text-decoration: underline;

    @media (max-width : 512px) {
        display: block;
        text-align: center;
    }

}

.equipmentImages {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.elements {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 24px;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    scrollbar-width: none;
    gap: 16px;
    /* Aralarında boşluq yaradır */
    flex-wrap: nowrap;

    @media (max-width : 512px) {
        flex-direction: column;
        width: 100%;
    }

    @media (max-width : 512px) {
        margin-top: 35px;
    }

    figure {
        width: 23%;
        height: 165px;
        flex-shrink: 0;

        @media (max-width : 512px) {
            height: 200px;
            width: 98%;
            margin: auto;
        }

        img {
            width: 100%;
        }
    }
}

.equipmentRightArrow {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #7db2dd;
    color: #7db2dd;
    margin-right: 10px;
    cursor: pointer;

    @media (max-width : 512px) {
        height: 21px;
        display: none;
    }
}

.equipmentLeftArrow {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #13436b;
    color: #fff;
    cursor: pointer;

    @media (max-width : 512px) {
        height: 21px;
        display: none;
    }
}