.container {
    width: 95%;
    margin: auto;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    height: auto;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

//about about about about about about about about about about about

.about {
    margin-top: 80px;
}

.about h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 500;

    @media (max-width : 512px) {
        font-size: 20px;
    }
}


// section section section section section section section

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;

    @media (max-width : 512px) {
        flex-direction: column;
        margin-top: 20px;
    }
}

.sectionImage {
    width: 50%;
    height: 100%;

    @media (max-width : 512px) {
        width: 100%;
    }
}

.sectionImage img {
    width: 100%;
    height: 100%;
}

.sectionInfo p {
    font-size: 16px;
    font-weight: normal;
}

.sectionInfo {
    width: 45%;
    justify-content: center;

    @media (max-width : 512px) {
        width: 100%;
    }
}

.sectionAbout {
    display: flex;
    height: 100%;
    margin-top: 20px;

    span {
        @media (max-width : 512px) {
            font-size: 16px;
        }
    }

    @media (max-width : 512px) {
        display: flex;
        justify-content: center;
    }
}

.sectionIcon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #fff;

    @media (max-width : 512px) {
        display: none;
    }
}

.sectionMore {
    margin-left: 5px;
    color: #13436b;
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
}

// services

.services {
    margin-top: 80px;
}

.serviceTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.serviceTitle h2 {
    font-size: 32px;
    font-weight: normal;
}

.servicesArrow {
    display: flex;
}

.servicesArrow div {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
        background-color: #fff;
        border: 1px solid #7db2dd;
        color: #7db2dd;
        margin-right: 10px;
    }

    &:last-child {
        background-color: #13436b;
        color: #fff;
    }
}

.servicesMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;

    ul {
        width: 30%;
    }
}




//partners partners



// projects

.projects {
    margin-top: 80px;
}

.projectsTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectsTitleValue {
    font-size: 32px;
    font-weight: normal;
}

.projectsTitleMore {
    color: #13436b;
    font-size: 17px;
    cursor: pointer;
    text-decoration: underline;
}

.projectImages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.projectImages figure {
    height: 352px;
    width: 30%;

    img {
        border-radius: 8px;
        width: 100%;
        height: 100%;
    }
}