.portfolio {
    width: 85%;
    margin: auto;
    margin-top: 80px;
    @media (max-width : 512px){
        margin-top: 24px;
    }
}


.element{
    border-color: #25a2fe;
    width: 85%;
    margin: auto;
    margin-top: 40px;
}

.portfolioTitle {
    text-align: center;
    font-size: 32px;
    font-weight: normal;
}

.portfolioImages{
    width: 40%;
    @media (max-width : 512px){
        width: 100%;
        margin-top: 24px;
    }
    display: flex;
    justify-content: space-between;
}

.portfolioImages figure{
    width: 30%;
    height: 80px;
    img{
        width: 100%;
        height: 100%;
    }
}

.portfolioValue{
    margin-top: 24px;
}

.portfolioValueTitle{
    font-size: 22px;
    font-weight: normal;
    @media (max-width : 512px){
        font-size: 15px;
    }
}

.portfolioValueContent{
    font-size: 16px;
    margin-top: 10px;
    @media (max-width : 512px){
        font-size: 13px;
    }
}